* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5871b4, #79b7cf);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 600px;
    background: rgb(134, 134, 134);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.search-container {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

input:focus {
    outline: none;
    border-color: #4facfe;
}

button {
    padding: 12px 20px;
    border: none;
    background: #1a609c;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #2e90ff;
}

#message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.error {
    color: red;
}

.loading {
    color: #4facfe;
}

.weather-card {
    margin-top: 25px;
}

.hidden {
    display: none;
}

.header {
    text-align: center;
}

.header img {
    width: 100px;
}

.weather-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.info-box {
    background: #f5f8ff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.info-box h3 {
    margin-bottom: 10px;
    color: #444;
}

.info-box p {
    font-size: 22px;
    font-weight: bold;
    color: #222;
}

@media(max-width: 600px) {

    .search-container {
        flex-direction: column;
    }

    .weather-info {
        grid-template-columns: 1fr;
    }
}